<!DOCTYPE HTML>
<html>
  <head>
    <title>Encuesta Café</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <h1>Encuesta de Café Prefreido</h1>
    <h2>Bienvenido, porfavor... ingrese sus datos</h2>
    <form method="post" action="?opcion=ingresar">
        <p>Sexo</p>
        <input type="radio" name="sexo" value="Hombre"/><label for="sexo">Hombre</label><br/>
        <input type="radio" name="sexo" value="Mujer"/><label for="sexo">Mujer</label>
        <br/>
        <p>Edad</p>
        <input type="text" name="edad"/><br/><br/>
        <input type="submit" value="Ingresar a la Votación"/>
    </form>
  </body>
</html>
