
<!DOCTYPE HTML>
<html>
  <head>
    <title>Encuesta Café</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
      <h1>Encuesta de Café Prefreido</h1>
      <h2>Votación de una <?php echo $sexo?> de <?php echo $edad?> años de edad</h2>

      <form method="post" action="?opcion=votar">
          <input type="hidden" name="sexo" value="<?php echo $sexo?>"/>
          <input type="hidden" name="edad" value="<?php echo $edad?>"/>
          
          <p>Ingrese valores del 1-4 en orden de preferencia. (1->Mayor Preferencia)</p>
          
          <table>
              <tr>
                  <th>Tipo de Café</th>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
              </tr>
              <tr>
                  <td><label for="v1">Café Premium</label></td>
                  <td><input type="radio" name="v1" value="1"/></td>
                  <td><input type="radio" name="v1" value="2"/></td>
                  <td><input type="radio" name="v1" value="3"/></td>
                  <td><input type="radio" name="v1" value="4"/></td>
              </tr>
              <tr>
                  <td><label for="v2">Café De la Casa</label></td>
                  <td><input type="radio" name="v2" value="1"/></td>
                  <td><input type="radio" name="v2" value="2"/></td>
                  <td><input type="radio" name="v2" value="3"/></td>
                  <td><input type="radio" name="v2" value="4"/></td>
              </tr>
              <tr>
                  <td><label for="v3">Café Negro Tostado</label></td>
                  <td><input type="radio" name="v3" value="1"/></td>
                  <td><input type="radio" name="v3" value="2"/></td>
                  <td><input type="radio" name="v3" value="3"/></td>
                  <td><input type="radio" name="v3" value="4"/></td>
              </tr>    
              <tr>
                  <td><label for="v4">Café Orgánico</label></td>
                  <td><input type="radio" name="v4" value="1"/></td>
                  <td><input type="radio" name="v4" value="2"/></td>
                  <td><input type="radio" name="v4" value="3"/></td>
                  <td><input type="radio" name="v4" value="4"/></td>
              </tr>
          </table>
          <br/>
          <input type="submit" value="Votar"/>
      </form>
      <a href="?opcion=salir">Salir</a>
  </body>
</html>
